p{
    width: 100px;
    height: 40px;
    text-align: center;
    display: inline-block;
    background-color:blue ;
    border: solid 3px black;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: .5s;
    transition-duration: 5s;
}
p:hover{
    width: 60px;
    height: 100px;
    text-align: center;
    display: inline-block;
    background-color:rgb(255, 0, 179) ;
    border: solid 3px black;
}