body{
	background:rgb(255, 255, 255);
	margin:2%;
	font-size: 125%;
}

header{
	background: #666666;
    background-image: url(../imsges/flywheel.jpg);
    background-repeat: unset;
    padding-top: 5px;
    height: 250px;
}

header{
	text-align: center;
	padding-bottom: 5pxpx;
}

h1{
    color: #ffffff;
    font-variant: small-caps;
}

nav{
	font-family: "Times New Roman", serif;
    font-size: 150%;
}

nav a{
	display: inline-block;
	background-color: rgba(255,255,255,0.5);
	width:15%;
    margin: 30px;
    border-radius: 5px;
    padding:10px ;
    color: #000000;
    height: 40px;
    font-size: 80%;
    text-decoration: none;
    font-weight: bold;
}

.active{
    background-color: #ffffff;
}

.left{
    display: inline-block;
    background-color: #8c9b05;
    width:250px;
    align-content: center;
    height:1000px;
}

a img{
    border:solid 3px #000000;
    align-items: center;  
    height: 125px;
    width:200px;
}

.left a img{
    margin: auto auto;
    margin-left: 20px;
    margin-top:15px ;
}

.right{
    display: inline-block;
    width:950px;
    float: right;
}

th{
    background-color: rgba(50, 69, 241, 0.7);
    width: 150px;
    color: #ffffff;
    text-align: center;
    height: 50px;
    border-bottom:3px solid #141413;
    margin-bottom: 4px;
}
td{
    background-color: rgba(111, 213, 238, 0.7);
    width: 30px;
    text-align: center;
    height: 50px;
    font-size: 80%;
    
}
tr>td:first-child{
    width: 300px;
    text-align: left;
    padding-left: 15px;
}
table{
    margin-left: 100px;
}
tr>th:first-child{
    width: 300px;
    text-align: left;
    padding-left: 15px;
}

tr:hover{
    opacity: 0.5;
}

tr th:first-child{
    border-top-left-radius: 10px;
}
tr th:last-child{
    border-top-right-radius: 10px;
}


