/*a {
    border: 2px dotted #3729f0;
    width: 15%;
    padding: 20px;
    background-color: aqua;
   
}
a:hover{
    transition-property: all;
    background-color: blueviolet;
    border: 2px solid #f51313;
    transition-delay: 0.1s;
    transition-duration: .1s;
    transition-timing-function: ease-in;
    border-radius: 100px;
    color: aliceblue;

body{
    padding: 5%;
}
ul>a{
    display:hidden;
}
li:hover>a{
    display:visible;
}    
}*/

.pops ul{
    visibility: hidden;
}
.pops:hover ul{
    visibility: visible;
}
section{
    background-image:linear-gradient(rgba(240, 89, 147,0.9),rgba(79, 218, 223,0.7),rgba(240, 89, 147,0.9));
    padding: 10px;
    text-align: justify;
    font-weight: 500;
    font-size: 120%;
    font-variant: small-caps;
}